# name: 04-using-actions

# on:
#   push:

# jobs:
#   Checkout_Code:
#     runs-on: ubuntu-latest
#     steps:
#       - name: Checkout Code
#         uses: actions/checkout@v4

#       - name: Printing folder
#         run: ls -R

name: 04-using-actions

on:
  push:

jobs:
  Build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'

      - name: Install dependencies
        run: npm install
        working-directory: 04-using-actions/reactapp

      - name: Run Unit Tests
        run: npm run test -- --watchAll=false
        working-directory: 04-using-actions/reactapp   
