name: 05-2-Event-Filters and Activity Types

on:
 pull_request:
    types: [closed]
    branches: [main]

jobs:
  echo:
    runs-on: ubuntu-latest
    steps:
      - name: print 
        run: echo "Running whenver a PR is closed in the base branch".


